lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

.idea
*.iml
yarn.lock
.DS_store

/.nyc_output/
/coverage/

# test files
/test/temp_package*.json
/test/.ncurc.json
