name: Tests

on:
  push:
    branches:
      - master
      - "!dependabot/**"
  pull_request:
    branches:
      - "**"

env:
  NODE_COV: 14

jobs:
  run:
    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [10, 12, 14]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install npm dependencies
        run: npm ci

      - name: Run lint
        run: npm run lintall

      - name: Run tests
        run: npm run mocha
        if: "!(startsWith(matrix.os, 'ubuntu') && matrix.node == env.NODE_COV)"

      - name: Run tests with coverage
        run: npm run nyc -- npm run mocha
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == env.NODE_COV

      - name: Run Coveralls
        uses: coverallsapp/github-action@master
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == env.NODE_COV
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
