name: Tests

on:
  push:
    branches:
      - main
      - '!dependabot/**'
  pull_request:
    branches:
      - '**'

env:
  FORCE_COLOR: 2

permissions:
  contents: read

jobs:
  run:
    permissions:
      contents: read # for actions/checkout to fetch code

    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node: [20, 22]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Enable corepack
        run: corepack enable

      - name: Install npm dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Unit Tests
        run: npm run test:unit

      - name: Bun Tests
        run: npm run test:bun

      - name: E2E Tests
        run: npm run test:e2e
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == 20
